.main-nav {
    display: flex;
    justify-content: space-around;
    align-content: center;
    /* background-color: rgb(226, 158, 200); */
    list-style-type: none;
    margin-top: 30px;
    padding: 30px;
    font-size: 18px;
    color: black;
    text-transform: uppercase;
}
.main-nav a {
    text-decoration: none;
    color: inherit;
}
.main-nav :active {
    background-color: #edae20;
}
